@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
  /* Ultra-smooth */
  width: max-content;
}